# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [21]:
import pandas as pd
import numpy as np

# Código:

anomalia_termica = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [22]:
# Código:

anomalia_termica = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],
                            index = [1900, 1920, 1940, 1960, 1980, 2000, 2020])
anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [23]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# Código:

dif_temp_media = pd.Series(dic_temperaturas)
dif_temp_media

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [24]:
arr = np.random.normal(100, 10, (20,3))

# Código:

num = pd.DataFrame(arr)
num

             0           1           2
0   108.404261   82.630723  118.039356
1    99.496350   98.808032  102.940284
2    89.252918   88.081807  107.256131
3   106.053036  118.883054   91.388019
4   105.040275  106.653252   98.256680
5   112.215585  100.580266  113.321378
6    89.661238   98.999515   90.716151
7    90.615265  104.053398  105.885459
8   101.312336  106.366360   99.936749
9   112.471996   81.138158   97.463014
10  101.860737   96.286058  115.361396
11   86.469558   88.618029  102.628164
12   79.851053  108.435825   94.454287
13   86.959342   97.045609   86.199764
14   89.917285   87.807472   96.736209
15   99.517859  100.795739  116.652364
16   82.221715  107.330887   85.254952
17  101.569453   92.572722   96.671730
18   79.896221   94.384640   99.033484
19  112.216397  111.404742  101.814837

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [36]:
# Código:

num = pd.DataFrame(arr, columns=['x1', 'x2', 'x3']) #renomeando as colunas.
num.index = range(1, 21) #criando um novo índice entre de 1 a 20.
num

            x1          x2          x3
1   108.404261   82.630723  118.039356
2    99.496350   98.808032  102.940284
3    89.252918   88.081807  107.256131
4   106.053036  118.883054   91.388019
5   105.040275  106.653252   98.256680
6   112.215585  100.580266  113.321378
7    89.661238   98.999515   90.716151
8    90.615265  104.053398  105.885459
9   101.312336  106.366360   99.936749
10  112.471996   81.138158   97.463014
11  101.860737   96.286058  115.361396
12   86.469558   88.618029  102.628164
13   79.851053  108.435825   94.454287
14   86.959342   97.045609   86.199764
15   89.917285   87.807472   96.736209
16   99.517859  100.795739  116.652364
17   82.221715  107.330887   85.254952
18  101.569453   92.572722   96.671730
19   79.896221   94.384640   99.033484
20  112.216397  111.404742  101.814837

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [28]:
# Código:

num ['media'] = (num['x1'] + num['x2'] + num['x3'])/3
num

            x1          x2          x3       media
1   108.404261   82.630723  118.039356  103.024780
2    99.496350   98.808032  102.940284  100.414888
3    89.252918   88.081807  107.256131   94.863619
4   106.053036  118.883054   91.388019  105.441370
5   105.040275  106.653252   98.256680  103.316736
6   112.215585  100.580266  113.321378  108.705743
7    89.661238   98.999515   90.716151   93.125635
8    90.615265  104.053398  105.885459  100.184707
9   101.312336  106.366360   99.936749  102.538482
10  112.471996   81.138158   97.463014   97.024389
11  101.860737   96.286058  115.361396  104.502730
12   86.469558   88.618029  102.628164   92.571917
13   79.851053  108.435825   94.454287   94.247055
14   86.959342   97.045609   86.199764   90.068238
15   89.917285   87.807472   96.736209   91.486989
16   99.517859  100.795739  116.652364  105.655321
17   82.221715  107.330887   85.254952   91.602518
18  101.569453   92.572722   96.671730   96.937968
19   79.896221   94.384640   99.033484   91.104782
20  112.216397  111.404742  101.814837  108.478659

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [35]:
# Código:

num['log_media'] = np.log(num['media']) #função log do numpy retorna o logaritmo.
num

            x1          x2          x3       media  log_media
1   108.404261   82.630723  118.039356  103.024780   4.634970
2    99.496350   98.808032  102.940284  100.414888   4.609310
3    89.252918   88.081807  107.256131   94.863619   4.552440
4   106.053036  118.883054   91.388019  105.441370   4.658155
5   105.040275  106.653252   98.256680  103.316736   4.637799
6   112.215585  100.580266  113.321378  108.705743   4.688645
7    89.661238   98.999515   90.716151   93.125635   4.533949
8    90.615265  104.053398  105.885459  100.184707   4.607016
9   101.312336  106.366360   99.936749  102.538482   4.630238
10  112.471996   81.138158   97.463014   97.024389   4.574962
11  101.860737   96.286058  115.361396  104.502730   4.649213
12   86.469558   88.618029  102.628164   92.571917   4.527986
13   79.851053  108.435825   94.454287   94.247055   4.545920
14   86.959342   97.045609   86.199764   90.068238   4.500568
15   89.917285   87.807472   96.736209   91.486989   4.516197
16   99.517859  100.795739  116.652364  105.655321   4.660182
17   82.221715  107.330887   85.254952   91.602518   4.517459
18  101.569453   92.572722   96.671730   96.937968   4.574071
19   79.896221   94.384640   99.033484   91.104782   4.512010
20  112.216397  111.404742  101.814837  108.478659   4.686553